<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AalamSuite">
  <test thread-count="5" name="Test_01">
    <classes>
      <class name="packageAalam.TC_Aalam_1"/>
    </classes>
  </test> <!-- Test_01 -->
</suite> <!-- AalamSuite -->
