<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AalamSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e8f62">  <td>19/11/20 20:46:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC_Aalam_1.beforeTest()[pri:0, instance:packageAalam.TC_Aalam_1@5700d6b1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>19/11/20 20:46:32</td>   <td>17589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Aalam_1.test0()[pri:0, instance:packageAalam.TC_Aalam_1@5700d6b1]">test0</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>19/11/20 20:47:11</td>   <td>55889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Aalam_1.test1()[pri:1, instance:packageAalam.TC_Aalam_1@5700d6b1]">test1</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>19/11/20 20:47:24</td>   <td>69447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Aalam_1.test2()[pri:2, instance:packageAalam.TC_Aalam_1@5700d6b1]">test2</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>19/11/20 20:47:28</td>   <td>73465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Aalam_1.test3()[pri:3, instance:packageAalam.TC_Aalam_1@5700d6b1]">test3</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>19/11/20 20:47:32</td>   <td>77645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Aalam_1.test4()[pri:5, instance:packageAalam.TC_Aalam_1@5700d6b1]">test4</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>19/11/20 20:47:36</td>   <td>81525</td> <td>&nbsp;</td><td title="&lt;&lt;TC_Aalam_1.afterTest()[pri:0, instance:packageAalam.TC_Aalam_1@5700d6b1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
</table>
